<div class="pop family-pop" id="family-pop" hidden>
  <div class="ttl">Member of the 42 family</div>
  <ul class="pop-list family-list">
    {% for m in site.data.family %}
    <li>
      <a href="{% if m.url contains '://' %}{{ m.url }}{% else %}{{ m.url | relative_url }}{% endif %}"><span class="dot dot-{{ m.color }}"></span>{{ m.name }}<span class="host">{{ m.host }}</span>{% if m.here %}<span class="tag tag-here">You are here</span>{% endif %}</a>
      <p>{{ m.short }}</p>
    </li>
    {% endfor %}
  </ul>
</div>
