<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#0D1727">
{% seo %}
<link rel="icon" href="{{ '/assets/img/favicon.ico' | relative_url }}" sizes="any">
<link rel="icon" href="{{ '/assets/img/favicon-32.png' | relative_url }}" type="image/png">
<link rel="apple-touch-icon" href="{{ '/assets/img/apple-touch-icon.png' | relative_url }}">
<link rel="preload" href="{{ '/assets/fonts/LibreCaslonText-400.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{ '/assets/fonts/AtkinsonHyperlegibleNext-variable.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
